@{
    ViewData["Title"] = "Login";
}

@model LoneWorkerCheckin.MVC.Models.LoginViewModel
<div class="d-flex align-items-center py-4 bg-body-tertiary">
    <form method="post" asp-action="Login" asp-controller="Login">
        
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    </form>
    <div>
        @Model?.UserId
    </div>
</div>


